body .external-link {
   color: var(--link-external-color);
   text-decoration-line: var(--link-external-decoration);
   background-position: center right;
   background-repeat: no-repeat;
   background-image: linear-gradient(transparent, transparent), url(public/images/874d8b8e340f75575caa.svg);
    background-size: 13px;
    padding-right: 16px;
    background-position-y: 4px;
    cursor: var(--cursor-link);
    filter: var(--link-external-filter);
}

/*
From:
https://forum.obsidian.md/t/change-the-colour-of-internal-links-that-do-not-have-notes/59337/3?u=adk-pinochle
*/
.theme-light, .theme-dark {
     --link-unresolved-color: var(--color-yellow);
     --link-unresolved-opacity: 0.7;
     --link-unresolved-filter: none;
     --link-unresolved-decoration-style: dotted;
     --link-unresolved-decoration-color: var(--color-yellow);
 }

body .internal-link,
.cm-s-obsidian span.cm-hmd-internal-link {
  background-color: var(--text-on-accent);
  border-radius: 10px;
  padding: 0 0.25em 0.1em;
  text-decoration: none; /* if you have the underline effect and want to remove it*/
}