
/* default vaules */
/*body {
    --p-spacing: 1rem;
    --heading-spacing: calc(var(--p-spacing) * 2.5);
}*/
/*
body {
    --p-spacing: 1rem;
    --heading-spacing: calc(var(--p-spacing) * 1);
}

body { --p-spacing-new: 0.1em; } 

.markdown-rendered p { margin-block-end: var(--p-spacing-new); }
.markdown-rendered ul, .markdown-rendered ol { margin-block-start: var(--p-spacing-new); }
.metadata-container { margin-block-end: var(--p-spacing-new); }
*/
.mod-cm6 .cm-editor .HyperMD-header, .markdown-reading-view .markdown-preview-section :is(h1,h2,h3,h4,h5,h6) {
    line-height: 1em !important;
    margin:2px 0px 2px 0px !important;
    padding: 1px 0px 2px 0px !important;
}

/* default vaules */
/*body {
    --p-spacing: 1rem;
    --heading-spacing: calc(var(--p-spacing) * 2.5);
}*/

body {
    --p-spacing: 0.1em !important ;
    --heading-spacing: calc(var(--p-spacing) * 1) !important;
}